{% extends 'base.html' %} {%block css%}

<style>
    {
        % comment %
    }
    /* Styles required only for the example above */
    
    {
        % endcomment %
    }
    
    .btn-toggle {
        display: inline-flex;
        align-items: center;
        padding: .25rem .5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, .65);
        background-color: transparent;
        border: 0;
    }
    
    .btn-toggle:hover,
    .btn-toggle:focus {
        color: rgba(0, 0, 0, .85);
        background-color: #d2f4ea;
    }
    
    .btn-toggle::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }
    
    .btn-toggle[aria-expanded="true"] {
        color: rgba(0, 0, 0, .85);
    }
    
    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }
    
    .btn-toggle-nav a {
        display: inline-flex;
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
        text-decoration: none;
    }
    
    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        background-color: #d2f4ea;
    }
    
    .scrollarea {
        overflow-y: auto;
    }
    
    .fw-semibold {
        font-weight: 600;
    }
    
    .lh-tight {
        line-height: 1.25;
    }
    
    .sidebar_height {
        display: inline-block;
        height: auto;
    }
    
    @media only screen and (min-width: 768px) {
        .sidebar_height {
            height: 100vh;
        }
    }
</style>

{% endblock %} {% block body %}
<div class="row w-100 g-0">
    <div class="col-0 col-md-2  bg-body-tertiary overflow-y-auto sidebar_height" style="background-color: #d32a2a;">
        {% include "sidebar.html" %}

    </div>
    <div class="col-0 col-md-10 container ">
        <h2 class="text-center mb-4 ">{{ sub_category_details.name }}</h2>
        <h4 class="text-center text-danger">{{ sub_category_details.more_sub}}</h4>
        <a href={% url 'sub_title_quiz' sub_category_details.name %}  class="btn btn-warning" data-mdb-ripple-init>Try quiz</a>

        <hr> 
         {{ sub_category_details.details|safe }}
    </div>


</div>
{% endblock %} {%block js%}
<script>
    (function() {
        'use strict'
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(function(tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()
</script>
{%endblock%}