{% extends 'base.html' %} {%block css%}
{% load static %}
<style>
    .c_button {
        /* background: ; */
        border: 1px solid #7139F7;
        color: #7139F7;
        /* border-color: #7139F7; */
    }
    
    .c_button:hover {
        background-color: #7139F7;
    }
    
    .custom-list {
        list-style: none;
        padding: 0;
    }
    
    .icon-item {
        padding-left: 15px;
        /* Adjust the padding as needed */
        background-image: url('/media/images/icon.svg');
        /* Replace with the path to your custom icon */
        background-repeat: no-repeat;
        background-position: left center;
        /* You can adjust this to position the icon */
    }
    
    .icon-item::before {
        content: "";
        display: inline-block;
        width: 20px;
    }
    
</style>

{% endblock %} {% block body %}


<div class="container">
    <!-- <a href="{{button_data.link}}" class="btn btn-native">
            {{button_data.name}} <i class="fa-solid fa-chevron-right ms-2"></i>
        </a> -->
    {% comment %}
    <div>
        <a href="course/Nec" class="">nec</a>
    </div>
    <div>
        <a href="course/class_8" class=" ">class 8</a>
    </div> {% endcomment %}
    <div class="row my-5 pt-3">
        <div class="col-12  mt-5 col-md-6 col-lg-6">
            <div class="d-flex bg-body-secondary w-100 w-md-75 p-1 rounded-start-pill rounded-end-pill">
                <div class="d-inline-block bg-warning rounded-start-pill rounded-end-pill p-2">Navbar Name</div>
                <div class="d-flex ms-3 my-auto justify-content-center align-items-center">
                    <div>
                        <p class="d-inline-block p-0 m-auto fw-bolder text-center ">Making examination simple and easy </p>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <h2 class="fs-1 fw-bolder">We Help To Upgrade Your Knowlegde Effectively</h2>
                <p class="my-5">A complete solution for all kinds of examination used by academic examiners, competitive examiners, preparation centers and freelancer teachers to help their examinees</p>
                <div class="d-flex gap-4">

                    <a href="course/Nec" type="button" class="btn c_button rounded-pill btn-outline-primary py-2 px-5">Nec</a>
                    <a type="button" class="btn rounded-pill btn-primary  py-2 px-5" style="background-color: #7139F7;">Other class</a>
                </div>



            </div>
        </div>
        <div class="col-12  col-md-6 col-lg-6">
            <img src="/media/images/hero image.webp" class="img-fluid" alt="hero image.webp" />

        </div>
    </div>

</div>
<div class="bg-body-tertiary d-flex justify-content-center ">

    <div class="row d-flex  flex-sm-row flex-column-reverse container">
        <div class="col-12 col-md-6 col-lg-6 mt-5 ">
            <img src="/media/images/knowabout.webp" class="img-fluid" alt="knowabout.webp" />

        </div>
        <div class="col-12 p-5   col-md-6 col-lg-6 mt-5 ">
            <p class="fs-5 fw-bolder">Know About Us</p>
            <h2 class="fs-1 fw-bolder">We manage online exams portal</h2>
            <p>Every student has a fear of examination or has an ambition to do better in their examination. Examkosathi is the right platform for those who has to go through any kind of examination and test in their career. It assists to overcome the fear
                of examination and helps one to score as per their wish in their examination. It provides examinees with the freedom of evaluating oneself at their own pace and will</p>
            <ul class="custom-list text-decoration-none">
                <li class="icon-item">School Level</li>
                <li class="icon-item">Preparation class</li>
                <li class="icon-item">Language class</li>
                <li class="icon-item">Diploma Level CTEVT</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center"><b>Responsive Owl Carousel</b></h1>
	  <div class="slider">
				<div class="owl-carousel">
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src={% static "images/slide-1.jpg" %} alt="" >
						</div>
						<h5 class="mb-0 text-center"><b>HTML CSS3 Tutorials</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="images/slide-2.jpg" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Wordpress Tutorials</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="images/slide-3.jpg" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>PHP MySQL Tutorials</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="images/slide-4.jpg" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Javascript Tutorials</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
					<div class="slider-card">
						<div class="d-flex justify-content-center align-items-center mb-4">
							<img src="{% static "images/slide-5.jpg" %}" alt="">
						</div>
						<h5 class="mb-0 text-center"><b>Bootstrap Tutorials</b></h5>
						<p class="text-center p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
					</div>
				</div>
			</div>
  </div>


{% endblock %} {%block js%}

    <script src="{% static "js/script.js" %}"></>

{%endblock%}