{% extends 'base.html' %} {%block css%} {% endblock %} {% block body %}

<div class="container">
    <div class="d-flex justify-content-center align-content-center h-50">
        <!-- <a href="{{button_data.link}}" class="btn btn-native">
            {{button_data.name}} <i class="fa-solid fa-chevron-right ms-2"></i>
        </a> -->
        <div>
            <a href="course/Nec" class="btn btn-danger">nec</a>
        </div>
        <div>
            <a href="course/class_8" class="btn btn-primary">class 8</a>
        </div>
    </div>
</div>

{% endblock %} {%block js%} {%endblock%}