<ul class="list-unstyled ps-0 d-inline-block ">
    {% comment %} {{course_name}} {% endcomment %}
    {% for category, subcategories in context.items %}
    <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#{{ category }}" aria-expanded="false">
                {{ category }}
        </button>
        
        {% comment %} <div class="collapse {% if forloop.first %} show {% endif %}" id="home-collapse{{ category }}" style=""> {% endcomment %}
        <div class="collapse" id="{{ category }}" style="">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% for subcategory in subcategories %}
                {% comment %} <li><a href="{{ subcategory.name|slugify }}" class="link-dark rounded"> {{ subcategory.name }} </a></li> {% endcomment %}
                <li><a href={% url 'course_detail' course_name subcategory.name  %} class="link-dark rounded"> {{ subcategory.name }} </a></li>

                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}

    <li class="border-top my-3"></li>
    
    <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
            Account
        </button>
        <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">New...</a></li>
                <li><a href="#" class="link-dark rounded">Profile</a></li>
                <li><a href="#" class="link-dark rounded">Settings</a></li>
                <li><a href="#" class="link-dark rounded">Sign out</a></li>
                <li><a href="{% url 'course_detail' course_name="Nec" sub_category="something"  %}">Try</a>
                </li>
            </ul>
        </div>
    </li>
</ul>