{% extends 'base.html' %} {%block css%}

<style>

</style>
{% endblock %} {% block body %}
<div class="container-fluid " style="min-height: 83vh;">

    <div class="row row-cols-2 justify-content-center column-gap-3">
        <div class="col-4 bg-white">
            {% for subject in  subjects %}
            
            {% comment %} <a href='' class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">{{subject}}</a> {% endcomment %}
            <a href="{% url 'course' subject.name %}" data-mdb-ripple-init data-mdb-ripple-color="dark" >{{subject}}</a>

            {% endfor %}

        </div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Primary</button>
        </div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Primary</button>

        </div>
        <div class="col-4 bg-white">
            <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init data-mdb-ripple-color="dark">Primary</button>
        </div>
    </div>

</div>
{% endblock %} {%block js%} {%endblock%}